
body {
  text-align: center;
  background-image: url('./img/bkgrnd_Black.png');
  background-size:auto;
  background-attachment: fixed;
}

@font-face{
  font-family: "Kollektiff";
  src: url("./Font/Kollektif.ttf");

  font-family: "LeagueSpartan";
  src: url("./Font/LeagueSpartan-Bold.otf");

  font-family: "SpaceMono";
  src: url("./Font/space-mono-latin-400-normal.ttf");
}

.title{
  font-family: "LeagueSpartan";
}

.subTitle{
  font-family: "SpaceMono";
}

.txt{
  font-family: "Kollektiff";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    content: "Buenos Aires, Arg.";
    color: #cbd5e1;
  }
  33% {
    content: "yes, I do want to work remotely!";
    color: #cbd5e1;
  }
  66% {
    content: "yes, I can do hybrid!";
    color: #cbd5e1;
  }
  
}

.location::before {
  color: white;
  content: "Buenos Aires, Arg.";  
  animation: animate 5s steps(1, end) infinite;
}




